.Dictionary section {
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0px 30px 50px rgba(65, 50, 100, 0.08);
  margin: 20px 0;
}

.Dictionary input {
  width: 100%;
  border-radius: 6px;
  padding: 6px 12px;
  color: rgb(49, 47, 47);
  border: 1px solid #ddd;
}

.Dictionary h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 18px;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
}
